@media (max-width: 900px) {
	#navbar {
    display: none;
  }
  .Header_AdaptiveHead{
    display: flex;
  }
  .body{
  	grid-template-rows: 80px auto auto;
  }

.Footer{

  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header{
  padding-left: 5vw;
  padding-right: 0vw;
}
.Header_Top_Logo{
  padding: 10px;
}
.Header_Top_ButMenu{
  padding: 10px;
}
.Header_Top_Tg_Logo{
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.Header_Top_Tg_Logo:hover{
  opacity: 0.8;
}
.Header_AdaptiveHead_plug{
  width:40%;
}

.Header_Top_ButMenu_Adaptive{
background-color: #337ab7;
width: 52px;
height: 52px;
cursor: pointer;
margin-left:10px;
margin:10px;
}

.Header_Top_ButMenu_Adaptive:hover{
  opacity: 0.8;
}

.Header_Top_ButMenu_AdaptiveInput{
  width:60%; height:100%; padding:10px;
}

}
@media (max-width: 785px) {
  .Header_AdaptiveHead_plug{
    width:30%;
  }
.Content_Product{
	flex-direction: column;
    align-items: center;
	}
	.Content_Product_textAdaptive{
		display: flex;
		flex-direction: column;
    align-items: center;
	}
	.Content_Product_textAdaptive_p{
		font-size: 22px;
	}
}
@media (max-width: 670px) {
  .Header_AdaptiveHead_plug{
    width:18%;
  }
}
