<div class="Footer">
  <!------------------------------------------------------------------------------------->
  <div style="padding: 20px 15px 40px; width:250px;color:white">
    <img class="Footer_img" src="../public/img/nurmotors-logo.png">
    <p class="Footer_text">Информация на сайте носит ознакомительный характер и не является публичной офертой.</p>
    <p class="Footer_text">© ООО «Нурмоторс», 2022</p>
  </div>
<!------------------------------------------------------------------------------------->
  <div style="padding: 20px 15px 40px; width:250px;color:white">
    <img class="Footer_imgPosition" src="../public/img/svg/location.svg">
    <p class="Footer_textCity">Ростов-на-Дону</p>
    <p class="Footer_textAdres">проспект Сиверса, 12в<br>
Ежедневно: с 8:00 до 20:00</p>
  </div>
<!------------------------------------------------------------------------------------->
  <div style="padding:  20px 15px 40px; width:250px;color:white">
<img class="Footer_imgPosition" src="../public/img/svg/phone.svg">
<p class="Footer_textNumber"> Диспетчер: (863) 303-41-10<br>
Ремонт: (863) 303-41-10<br>
Запчасти: (863) 303-41-10</p>
  </div>
<!------------------------------------------------------------------------------------->
</div>
