<div class="HeaderBottom">
<!------------------------------------------------------------------------------------->
<div class="Header_Middle">
	<b>Автозапчасти вовремя</b>
</div>
<!------------------------------------------------------------------------------------->
<div class="Header_Bottom">
	<div class="Header_Bottom_Block">
		<img class="Header_Bottom_icon"  src="../public/img/svg/quality.svg">
		<div class="Header_Bottom_TextIcon" >Контроль качества</div>
	</div>
	<div class="Header_Bottom_Block">
		<img class="Header_Bottom_icon"  src="../public/img/svg/price.svg">
		<div class="Header_Bottom_TextIcon" >Выгодные <br> предложения</div>
		</div>
		<div class="Header_Bottom_Block">
		<img class="Header_Bottom_icon"  src="../public/img/svg/repair.svg">
		<div class="Header_Bottom_TextIcon" >Быстрая <br> установка</div>
	</div>
		<div class="Header_Bottom_Plate">
			<div style="font-size:50px; display:flex ;align-items: center;padding-left:5px;"><b> <%= ColAutoParts %> 
			</b></div>
			<div style="font-size:20px; display:flex;align-items: center;padding-left:5px;">запчастей представлены на сайте</div>
		</div>
</div>
	</div>
